@font-face {
	font-family: Raptor;
	src: url("../fonts/Raptor Font/Raptor Font/RaptorPremium-Bold.otf")
		format("opentype");
	font-weight: bold;
}

@font-face {
	font-family: Raptor;
	src: url("../fonts/Raptor Font/Raptor Font/RaptorPremium-Bold.otf")
		format("opentype");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: Raptor;
	src: url("../fonts/Raptor Font/Raptor Font/RaptorPremium-Light.otf")
		format("opentype");
	font-weight: light;
}

@font-face {
	font-family: Raptor;
	src: url("../fonts/Raptor Font/Raptor Font/RaptorPremium-LightSlanted.otf")
		format("opentype");
	font-weight: light;
	font-style: italic;
}

@font-face {
	font-family: Raptor;
	src: url("../fonts/Raptor Font/Raptor Font/RaptorPremium-Regular.otf")
		format("opentype");
	font-weight: regular;
}

@font-face {
	font-family: Raptor;
	src: url("../fonts/Raptor Font/Raptor Font/RaptorPremium-Slanted.otf")
		format("opentype");
	font-style: italic;
}
