$color_pink: #f58ec8;
$color_white: #ffffff;
$color_blue: #203044;
$color_green: #0ef2a2;
$color_yellow: #ffdb29;
$color_red: #fc2658;
$color_lightblue: #6f00ff;
$color_grey: #374557;

$font_raptor: Raptor;
$font_sans_serif: "Georgia", "Times New Roman", sans-serif;
